*{
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}

#fondoEncabezado{
    position: sticky;
    background-color: #cad2c5;
    height: 10rem;
}

#fondoPantalla{
    background-color:whitesmoke;
}
.fondoAzul{
    background-color: #84a98c
}
/*
#fondoEncabezado{
    position: sticky;
    background-color: #84a98c;
    height: 10rem;
}

#fondoPantalla{
    background-color: #cad2c5;
}
.fondoAzul{
    background-color: #52796f
}
*/

.imagenFavicon{
    border-radius:30px;
}
/* ------barra navegacion--------*/

.menu {
    top: 0rem;
    display: flex;
    justify-content: flex-start;
}

.contenedorImagenLogo {
    display: inline-block;
    vertical-align: text-top;
    border-radius: 50px;
    height: 80px;
    width: auto;
    margin-left: 2rem;
    margin-top: 0.5rem;
}



/*---------*/



.barraNav{
    display: flex;
    justify-content:end
}

  
.flex{
    display: flex;
    
}

.linkNav{
    background-color: #cad2c5;
    border-radius: 30px;
    width: 150%;
    -webkit-box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
    list-style: none;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 0.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: end;
}


.nav{
    list-style: none;
    color: #000;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nav a {
    text-decoration: none; 
    color:#000;
    align-items: center;
    font-size: x-large;
    margin-top: 50px;
}


.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letraBlanca{
    color:aliceblue
}

.letraChica{
    font-size: x-large;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h1{
    background-color: #84a98c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

h2{
    background-color: #84a98c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

p{
    font-size: 2.5rem;
}

.seccion{
    display: flex;
    justify-content: center;
}

.imagen1{
    display: flex;
    border-radius: 5%;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.texto1{
    display: flex;
    width: 60rem;
    height: 40rem;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.imagen2{
    display: flex;
    border-radius: 5%;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.texto2{
    display: flex;
    width: 60rem;
    text-align: justify;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

/*------------------------*/




.h1footer{
    font-size: small;
}

.centrar{
    text-align: center;
}


.contenedorUltimoParrafo{
    width: 60rem;
    display: flex;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    font-size: x-large;
}
/* Etiquetas para los parrafos*/

.contenedor {
    position: relative;
  }
  
  .boton {
    display: none;
    width: 60rem;
    height: 40rem;
    position: absolute;
    top: 0;
    left: 0;
    font-size: xx-large;
    color: black;
  }
  
  .contenedor:hover .boton {
    display: block;
    background-color:whitesmoke;
  }


.contenedorBotonesRedes{
    margin-top: 1000rem;
    margin-left: 3rem;
    margin-right: 3rem;
}



.border img{
    width: 5rem;
    border-radius: 25%;

}

.contenedorWp{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
}

.contenedorWp img{
    border-radius: 25%;
}

.fixed{
    position: fixed;
}
.contenedorFooterTitulo{
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



/*------------pagina turnos--------*/
.contenedorFormulario{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    margin-top: 2rem;
    margin-left: 50rem;
}

.contenedorUltimoParrafoTurnos{
    
    text-align: left;
    margin-top: 1rem;
    margin-left: 40rem;
    margin-right: 30rem;
    margin-bottom: 2rem; 
}
.contenedorMapsTurnos{
    display:block;
    margin-top: 2rem;
    margin-left: 40rem;
    margin-right: 30rem;
    border-radius: 5%;
}

.fuente{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedorImagenWA{
    margin-top: 1rem;
    border-radius: 1rem;
}
/*------------pagina testimonios--------*/


.containerVideos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "video1 paciente1"
      "paciente2 video2"
      "video3 paciente3"
      "paciente4 video4";
}

.video1 {
    grid-area: video1;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.paciente1 {
    grid-area: paciente1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-left: 2rem;
}



.video2 {
    grid-area: video2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paciente2 {
    grid-area: paciente2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-left: auto;
    margin-right: 2rem;
}

.video3 {
    grid-area: video3;
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.paciente3 {
    grid-area: paciente3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-left: 2rem;
}

.video4 {
    grid-area: video4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paciente4 {
    grid-area: paciente4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-left: auto;
    margin-right: 2rem;
}

/*------------pagina patologias--------*/
.bloque {
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
  }
.titulo{
    font-size: large;
    font-weight: bold;
}

.parrafo{
    font-size: medium;
}


/*------------pagina estudios--------*/

.estudios{
    background-color: #cad2c5;
    margin-top: 5rem;
    margin-left: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
}


.imagenFondoDeOjos{
    display: inline-block;
    margin-top: 3rem;
    margin-left: 50rem; 
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 10%;    
}
.border{
    border-radius: 5%;
}


.parrafoEstudios{
     margin-left: 5rem;
    border-right: 10rem;
    margin-bottom: 5rem;
    text-align: justify;
}


