*{
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}

#fondoEncabezado{
    background-color: #61a5c2;
    height: 10rem;
    margin: 500rem, 0rem, 5rem, 0rem;
}
#fondoPantalla{
    background-color: #a9d6e5;
}
.fondoAzul{
    background-color: #2a6f97
}
/*------------CONTENEDORES------------*/

.fixed{
    position: fixed;
}
.contenedorImagenLogo {
    float: left; 
    margin-top: 1rem;
    margin-left: 1rem; 
    border-radius: 5%;
}

.barraNav {
    list-style: none;
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    padding-bottom: 1.3rem;
    display: inline-block;
    text-decoration: none;
}
    
.nav{
    margin-top: 0rem;
    margin-left: 25rem;
}
    
li{
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: black;
}

.letraBlanca{
    color:aliceblue
}

.letraChica{
    font-size: x-large;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h1{
    background-color: #2a6f97;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

p{
    font-size: 2.5rem;
}

.h1footer{
    font-size: small;
}

.centrar{
    text-align: center;
}

.contenedorIzquierdo{
    display: ;
}

.contenedorImagenIzquierda {
    
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 20rem; 
    margin-right: 1.5rem;
    margin-bottom: 2.5rem;
    border-radius: 5%;
    
}

.contenedorPrimerParrafo{
    width: 60rem;
    display: inline-block;
    text-align: justify;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2.5rem;

    
}


.contenedorImagenDerecha {
    
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2.5rem; 
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    border-radius: 5%;
    
}


.contenedorSegundoParrafo{
    width: 60rem;
    display: inline-block;
    text-align: justify;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-left: 20rem;
    margin-bottom: 1.5rem;
    
    
}


.contenedorMaps{
    display: inline-block;
    margin-left: 20rem;
    margin-top: 1rem;
    border-radius: 5%;
}

.contenedorUltimoParrafo{
    width: 30rem;
    display: inline-block;
    text-align: left;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}


.boton{
    display: block;
    align-items: center;
    margin-left: 10rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
}

.boton1{
    display: block;
    align-items: center;
    margin-left: 30rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
}


.contenedorBotonesRedes{
    margin-top: 1000rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contenedorWp{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
}

.contenedorWp img{
    border-radius: 30rem;
}

.contenedorFooterTitulo{
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



/*------------pagina turnos--------*/
.contenedorFormulario{
    display: block;
    margin-top: 2rem;
    margin-left: 50rem;
}

.contenedorUltimoParrafoTurnos{
    
    text-align: left;
    margin-top: 1rem;
    margin-left: 40rem;
    margin-right: 30rem;
    margin-bottom: 2rem; 
}
.contenedorMapsTurnos{
    display:block;
    margin-top: 2rem;
    margin-left: 40rem;
    margin-right: 30rem;
    border-radius: 5%;
}

.fuente{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*------------pagina testimonios--------*/


.video1{

    width: 60rem;
    height: 40rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;

}

.parrafoPaciente{
    display: inline-block;
    width: 55rem;
    margin-top: 0rem;
    margin-left: 10rem;
    margin-right: 05rem;
    margin-bottom: 3rem;   
}

.conenedorBloquePacientes{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5;
}
/*------------pagina patologias--------*/
.bloque {
    border: 2px solid #000;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
  }
.titulo{
    font-size: large;
    font-weight: bold;
}

.parrafo{
    font-size: medium;
}


/*------------pagina estudios--------*/

.estudios{
    background-color: #a9d6e5;
    margin-top: 5rem;
    margin-left: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
}


.imagenFondoDeOjos{
    display: inline-block;
    margin-top: 3rem;
    margin-left: 50rem; 
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 10%;    
}
.border{
    border-radius: 5%;
}


.parrafoEstudios{
     margin-left: 5rem;
    border-right: 10rem;
    margin-bottom: 5rem;
    text-align: justify;
}


