@import "_variables";

* { 
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}


/*---MIXIN--*/
@mixin fondoPantalla{
    background-color:$colorFondoPantalla;
}

@mixin fondoEncabezado{
    position: sticky;
    background-color: $grisEncabezado;
    height: 10rem;
    opacity: 1;
}

@mixin barraMenu{
    background-color: $grisEncabezado;
    border-radius: 30px;
    width: 100%;
    -webkit-box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
    box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
    list-style: none;
    font-size:x-large;
    margin-top: auto;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

@mixin imagenLogo{
    display: inline-block;
    vertical-align: text-top;
    border-radius: 50px;
    height: 80px;
    width: auto;
    margin-left: 2rem;
    margin-top: 0.5rem;
}


@mixin formatoTitulo{
    background-color: $footerGris;
    font-family: $roboto;
    font-size: 2.5rem;
}

@mixin imagen1{
    display: flex;
    border-radius: 5%;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

@mixin texto1{
    display: inline-block;
    width: 60rem;
    height: 40rem;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@mixin boton1{
    display: inline-block;
    margin-top: 3rem ;
    margin-left: 20rem;
    margin-bottom: 5rem;
    align-items: end;
    justify-content:center;
}

@mixin cartel{
    font-size: xx-large;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color:$colorFondoPantalla;
    color: black;
}

@mixin contenedorMapsTurnos ($display, $justify-content, $margin-top, $border-radius){
    display:$display;
    justify-content: $justify-content;
    margin-top: $margin-top;
    border-radius: $border-radius;
}

@mixin titulo{
    font-size: x-large;
    font-weight: bold;
    background-color: $colorFondoPantalla;
}

@mixin video1{
    grid-area: video1;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

@mixin paciente1{
    grid-area: paciente1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    height: auto;
    margin-left: 2rem;
}

@mixin contenedorBotonesRedes ($margin-left, $margin-right){
    margin-left: $margin-left;
    margin-right: $margin-right;
}




#fondoEncabezado{
    @include fondoEncabezado
}

#fondoPantalla{
    @include fondoPantalla;
}


.colorFooter{
    background-color: $footerGris;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

.imagenFavicon{
    border-radius:$bordeImagenFavicon
}
/* ------barra navegacion--------*/

.menu { position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.09fr 2fr 0.3fr;
    grid-template-rows: 0.3fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo barraNavegacion vacia";
        }

    .logo { grid-area: logo; 
        border-radius: 40% ;
    }

    .barraNavegacion { grid-area: barraNavegacion; 
    align-items: center;
    justify-content: center;
    background-color: none;
    width: 110%;
    z-index: 9999;
    }

    .vacia { grid-area: vacia; }


.imagenLogo {
    @include imagenLogo
}

.flex{
    display: $flex
}

.barraMenu{
    @include barraMenu
}


.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.letraBlanca{
    color:aliceblue
}

.letraChica{
    font-size: x-large;
}

body{
    font-family: $roboto
}

h1,h2{
    @include formatoTitulo
}

h3{
    text-decoration: underline;
}

p{
    font-size: 2.5rem;
}

a{
    text-decoration: none;
    color: grayscale($color: #033b3b);
}
    
/*-------------HOME-------------*/

.seccion{
    display: flex;
    justify-content: center;
}

.imagen1{
    @include imagen1
}


.imagen11{
    display: flex;
    border-radius: 5%;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    max-width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.texto1{
    @include texto1
}

.boton1{
    @include boton1
}

.imagen2{
    @extend .imagen1;
    margin-left: 2rem;
}


.texto2{
    @extend .texto1;
    margin-right: 2rem;
}

.h1footer{
    font-size: small;
}

.centrar{
    text-align: center;
}

.contenedorUltimoParrafo{
    width: 60rem;
    display: inline-block;
    justify-content: space-between;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    font-size: x-large;
}

/* Etiquetas para los parrafos*/

.contenedor {
    position: relative;
}

.contenedorBotonesRedes{
    @include contenedorBotonesRedes( 3rem, 3rem);
}


.borderr{
    border-radius: 5%;
    text-decoration: none;
    img{
        width: 5rem;
        border-radius: 25%;
        &:hover{
            width: 7rem;
        }
    }
}

.bordert{
    @extend .borderr;
    img{
        width: 5rem;
        border-radius: 10%;
    }
}

.contenedorWp{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    img{
        border-radius: 25%;
    }
}

.fixed{
    position: fixed;
}
.contenedorFooterTitulo{
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*-------RESPONSIVE-----*/
/*--tablets--*/
@media screen and (max-width: 768px) and (min-width:501px) {
    .imagen1,
    .imagen2 {
        max-width: 100%;
        height: auto;        
        margin-left: 1%;
        margin-right: 1%;
    }
    .texto1,
    .texto2 {
        font-size: small;
        margin-bottom: 10px;
        height: auto;
    }

    .seccion1{
        flex-direction: column;
        align-items: center;
    }
    .mapa{
        width: 80%;
        align-items: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .contenedorUltimoParrafo {
        text-align: center; 
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}

/*-----CELULAR---*/

@media screen and (max-width: 500px) {
    .seccion {
        flex-direction: column;
        align-items: center;
    }
    .imagen1,
    .imagen2 {
        order: -2; 
        max-width: 100%; 
        height: auto;
        margin-bottom: 1rem; 
    }

    .texto1,
    .texto2 {
        display: inline-block;
        order:1;
        width: 80%;
        height: fit-content;
        text-align: left; 
        margin-top: 1rem;
        margin-bottom: 1rem; 
        overflow-wrap: break-word;
    }

    .contenedorUltimoParrafo {
        text-align: center; 
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3rem;
        font-size: x-large;
    }

    .mapa{
        width: 80%;
        align-items: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }

    
    .borderr{
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 5%;
        text-decoration: none;
        img{
            width: 3rem;
            border-radius: 25%;
        }
    }
}



/*------------pagina turnos--------*/

.contenedorFormulario{
    font-family: $roboto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: large;
}

.botonTamanio{
    font-size: large;
    background-color: $footerGris;
    border-color: $footerGris;
    text-decoration: none;
    color: aliceblue;
    &:hover{
        background-color: $sombraBtn; 
        border-color: $sombraBtn;    
    }
}

.enviarBtn:hover {
    background-color: $sombraBtn; 
    border-color: $sombraBtn; 
}

.cartel{
    @include cartel
}

.contenedorUltimoParrafoTurnos{    
    text-align: left;
    margin-top: 1rem;
    margin-left: 40rem;
    margin-right: 30rem;
    margin-bottom: 2rem; 
}

.contenedorMapsTurnos{
    @include contenedorMapsTurnos(flex, center, 2rem, 5%)
}

.fuente{
    font-family: $roboto;
}

.contenedorImagenWA{
    margin-top: 1rem;
    border-radius: 1rem;
}

/*-------RESPONSIVE-----*/
/*-----CELULAR---*/

@media screen and (max-width: 500px) {
    .contenedorMapsTurnos{
    display:flex;
    justify-content: center;
    max-width: 100%;
    margin:auto;
    border-radius: 5;
    }
}

/*------------pagina estudios--------*/

.estudios{
    background-color: $colorFondoPantalla;
    margin-top: 5rem;
    margin-left: 2.5rem;
    font-family: $roboto;
    text-decoration: underline;
    margin-left: 10rem;
}


.imagenFondoDeOjos{
    display: flex;
    justify-content:left;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-bottom: 2.5rem;
    border-radius: 10%;    
    width: auto;
    height: auto;
}


.parrafoEstudios{
    @extend .imagenFondoDeOjos;
    justify-content: right;
    font-size: small;
    text-align: justify;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-style:outset ;
    background-color: white;

}


/*--tablets--*/
@media screen and (max-width: 768px) and (min-width:501px) {
    .flexResponsive{
        display: flex;
        justify-content: center;
    }
    .imagenFondoDeOjos {
        display: flex;
        justify-content: center;
        width: 30rem;
        height: 30rem;        
        margin-left: 1%;
        margin-right: 1%;
    }
    .parrafoEstudios {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 10px;
        height: auto;
    }
}


/*-----CELULAR---*/

@media screen and (max-width: 500px) {
    
    .flexResponsive{
        display: block;
        text-align: center;
    }
    .imagenFondoDeOjos{
        display: block;
        max-width: 100%;
        margin-left: 1rem;
        margin-right: auto;
        border-radius: 10%;
    }
    
    .parrafoEstudios{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
}


/*------------pagina patologias--------*/

.bloque {
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    border-style:outset ;
    background-color: white;
    text-align: justify;
    &:hover{
        width: 60%;
        -webkit-box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
        box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
        margin-left: 20rem;
        font-size: x-large;
    }
}

.titulo{
@include titulo()
}

.titulo1{
    @extend .titulo;
    background-color: white;
}

.parrafo{
    font-size: medium;
}

/*-----CELULAR---*/


@media screen and (max-width: 768px) {
    .bloque {
        margin: 1rem;
        &:hover {
            width: auto;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin-left: 0; 
            font-size: initial; 
        }
    }
}


/*------------pagina testimonios--------*/


.containerVideos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "video1 paciente1"
        "paciente2 video2"
        "video3 paciente3"
        "paciente4 video4";
}

.video1 {
    @include video1
}

.paciente1 {
    @include paciente1
}


.video2 {
    @extend .video1;
    grid-area: video2;
    justify-content: flex-start;
}

.paciente2 {
    @extend .paciente1;
    grid-area: paciente2;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
}


.video3 {
    @extend .video1;
    grid-area: video3;
 }

.paciente3 {
    @extend .paciente1;
    grid-area: paciente3;
}


.video4 {
    @extend .video2;
    grid-area: video4;
}

.paciente4 {
    @extend .paciente2;
    grid-area: paciente4;
 }

/*--tablets--*/
@media screen and (max-width: 768px) and (min-width:501px) {
    .video1,
    .video2,
    .video3,
    .video4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .paciente1,
    .paciente2,
    .paciente3,
    .paciente4 {
        font-size: small;
        width: 100%;
        margin: auto;
        text-align: justify;
    }
    
    .containerVideos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 1rem;
        grid-auto-flow: row;
        grid-template-areas:
            "video1"
            "paciente1"
            "video2"
            "paciente2"
            "video3"
            "paciente3"
            "video4"
            "paciente4";
    }
}

/*-----CELULAR---*/

@media screen and (max-width: 500px) {
    .video1,
    .video2,
    .video3,
    .video4 {
        margin: auto;
        width: 100%;
    }

    .paciente1,
    .paciente2,
    .paciente3,
    .paciente4 {
        width: 100%;
        margin: auto;
        text-align: justify;
        font-size: x-small;
    }
    
    .containerVideos{
        display: block;
    }
        
    .containerVideos {
        display: block;
    }
}





